.intro {
    height: 498px;
    display: flex;
}

div {
    background-color: rgb(20, 20, 20);
    max-width: 90rem;
    height: 498px;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 99%;
}

.jogar {
    display: none;
    margin-left: 65rem;
    margin-top: 23rem;
}

@media screen and (max-width: 1450px){
    body {
        max-width: 1400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div {
        max-width: 90rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .jogar {
        margin-left: 50rem;
    }

    .intro{
        margin-right: 3rem;
    }

}