* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 20vh;
}

.voltar {
    width: 80px;
}

.game-board img {
    position: absolute;
}

.restart {
    display: none;
    position: absolute;
    width: 15rem;
    justify-content: center;
    align-items: center;
    margin-left: 38rem;
    margin-top: 13rem;
}

.cenario {
    position: absolute;
    width: 130%;
    margin-top: -20rem;
}


.motog {
    position: absolute;
    bottom: 90px;
    width: 120px;
    animation: motog-animation 2s infinite linear;
}

.sonic {
    position: absolute;
    width: 140px;
    bottom: 90px;
}

.jump {
    animation: jump 500ms ease-out;
}

.moeda {
    position: absolute;
    width: 0px;
    left: 380px;
    bottom: 90px;
    animation: moedas 2s infinite;
}

.sonic-morto {
    width: 8rem;
    margin-top: 17rem;
    display: none;
}

@keyframes moedas {
    0% {
        width: 0px;
    }

    29% {
        width: 0px;
    }

    30% {
        width: 50px;
    }

    40% {
        width: 50px;
    }

    53% {
        width: 0px;
    }

    100% {
        width: 0px;
    }
}

@keyframes game-over {
    0% {
        bottom: 80px;
    }

    50% {
        bottom: 300px;
    }

    100% {
        bottom: -100px;
    }
}

@keyframes motog-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 140px;
    }

    35% {
        bottom: 260px;
    }

    50% {
        buttom: 260px;
    }

    65% {
        bottom: 260px;
    }

    100% {
        bottom: 140px;
    }

}



@media screen and (max-width: 1810px) {
    body {
        max-width: 1810px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .cenario {
        margin-top: -20rem;
    }

    .sonic {
        width: 100px;
        bottom: 140px;
    }

    .motog {
        width: 100px;
        bottom: 140px;
    }

    .restart {
        margin-left: 35rem;
    }

    .sonic-morto {
        width: 6rem;
        margin-top: 16rem;
    }

    .moeda {
        bottom: 140px;
    }

}

@media screen and (max-width: 1720px) {
    body {
        max-width: 1720px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .cenario {
        margin-top: -17.5rem;
    }

    .sonic {
        width: 100px;
        bottom: 135px;
    }

    .motog {
        width: 100px;
        bottom: 135px;
    }

    .restart {
        margin-left: 35rem;
    }

    .sonic-morto {
        width: 6rem;
        margin-top: 14rem;
    }

    .moeda {
        bottom: 135px;
    }

}

@media screen and (max-width: 1600px) {
    body {
        max-width: 1600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .cenario {
        margin-top: -13rem;
    }

    .sonic {
        width: 100px;
        bottom: 155px;
    }

    .motog {
        width: 100px;
        bottom: 155px;
    }

    .restart {
        margin-left: 33rem;
    }

    .sonic-morto {
        width: 6rem;
        margin-top: 16rem;
    }

    .moeda {
        bottom: 155px;
    }

    @keyframes jump {

        0% {
            bottom: 155px;
        }

        35% {
            bottom: 275px;
        }

        50% {
            buttom: 275px;
        }

        65% {
            bottom: 275px;
        }

        100% {
            bottom: 155px;
        }

    }

}

@media screen and (max-width: 1450px) {
    body {
        max-width: 1400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .cenario {
        margin-top: -10rem;
    }

    .sonic {
        width: 90px;
        bottom: 130px;
    }

    .motog {
        width: 90px;
        bottom: 130px;
    }

    .restart {
        margin-left: 24rem;
    }

    .sonic-morto {
        width: 6rem;
        margin-top: 16rem;
    }

    .moeda {
        bottom: 130px;
    }

}

@media screen and (max-width: 1350px) {
    body {
        max-width: 1400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .cenario {
        margin-top: -10rem;
    }

    .sonic {
        width: 90px;
        bottom: 176px;
    }

    .motog {
        width: 80px;
        bottom: 175px;
    }

    .restart {
        margin-left: 24rem;
    }

    .sonic-morto {
        width: 6rem;
        margin-top: 15rem;
    }

    .moeda {
        bottom: 175px;
    }

}

@media screen and (max-width: 1200px) {
    body {
        max-width: 1400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .cenario {
        margin-top: -10rem;
    }

    .sonic {
        width: 90px;
        bottom: 215px;
    }

    .motog {
        width: 80px;
        bottom: 215px;
    }

    .restart {
        margin-left: 22rem;
        width: 13rem;
        margin-top: 10rem;
    }

    .sonic-morto {
        width: 6rem;
        margin-top: 12rem;
    }

    .moeda {
        bottom: 175px;
    }

    @keyframes jump {

        0% {
            bottom: 215px;
        }

        35% {
            bottom: 335px;
        }

        50% {
            buttom: 335px;
        }

        70% {
            bottom: 335px;
        }

        100% {
            bottom: 215px;
        }

    }

}

@media screen and (max-width: 1025px) {
    body {
        max-width: 1400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .cenario {
        margin-top: -10rem;
    }

    .sonic {
        width: 90px;
        bottom: 265px;
    }

    .motog {
        width: 80px;
        bottom: 265px;
    }

    .restart {
        margin-left: 18.5rem;
        width: 11rem;
        margin-top: 8rem;
    }

    .sonic-morto {
        width: 5rem;
        margin-top: 9rem;
    }

    .moeda {
        bottom: 265px;
        width: 2rem;
    }

    @keyframes jump {

        0% {
            bottom: 265px;
        }

        35% {
            bottom: 355px;
        }

        50% {
            buttom: 355px;
        }

        65% {
            bottom: 355px;
        }

        100% {
            bottom: 265px;
        }

    }

    @keyframes moedas {
        0% {
            width: 0px;
        }

        29% {
            width: 0px;
        }

        30% {
            width: 24px;
        }

        40% {
            width: 24px;
        }

        53% {
            width: 0px;
        }

        100% {
            width: 0px;
        }
    }
}

@media screen and (max-width: 950px) {
    body {
        max-width: 950px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .cenario {
        margin-top: -9rem;
    }

    .sonic {
        width: 55px;
        bottom: 303px;
    }

    .motog {
        width: 50px;
        bottom: 303px;
    }

    .restart {
        margin-left: 17rem;
        width: 10rem;
        margin-top: 8rem;
    }

    .sonic-morto {
        width: 3rem;
        margin-top: 9rem;
    }

    .moeda {
        width: 1rem;
        bottom: 306px;
        margin-left: -10rem;
    }

    .voltar {
        width: 3rem;
    }

    @keyframes jump {

        0% {
            bottom: 303px;
        }

        35% {
            bottom: 373px;
        }

        50% {
            buttom: 373px;
        }

        65% {
            bottom: 373px;
        }

        100% {
            bottom: 303px;
        }

    }

    @keyframes moedas {
        0% {
            width: 0px;
        }

        29% {
            width: 0px;
        }

        30% {
            width: 20px;
        }

        40% {
            width: 20px;
        }

        53% {
            width: 0px;
        }

        100% {
            width: 0px;
        }
    }
}

@media screen and (max-width: 851px) {
    body {
        max-width: 850px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .cenario {
        margin-top: -8rem;
    }

    .sonic {
        width: 55px;
        bottom: 306px;
    }

    .motog {
        width: 50px;
        bottom: 306px;
    }

    .restart {
        margin-left: 17rem;
        width: 10rem;
        margin-top: 8rem;
    }

    .sonic-morto {
        width: 3rem;
        margin-top: 9rem;
    }

    .moeda {
        width: 1rem;
        bottom: 309px;
        margin-left: -11rem;
    }

    .voltar {
        width: 3rem;
    }
}

@media screen and (max-width: 680px) {
    body {
        max-width: 680px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cenario {
        margin-top: -6.5rem;
    }

    .sonic {
        width: 55px;
        bottom: 347px;
    }

    .motog {
        width: 50px;
        bottom: 347px;
    }

    .restart {
        margin-left: 11.5rem;
        width: 10rem;
        margin-top: 5rem;
    }

    .sonic-morto {
        width: 3rem;
        margin-top: 6rem;
    }

    .moeda {
        width: 1rem;
        bottom: 350px;
        margin-left: -11rem;
    }

    .voltar {
        width: 2rem;
    }

    @keyframes jump {

        0% {
            bottom: 350px;
        }

        35% {
            bottom: 420px;
        }

        50% {
            buttom: 420px;
        }

        65% {
            bottom: 420px;
        }

        100% {
            bottom: 350px;
        }

    }
}

@media screen and (max-width: 750px) {
    body {
        max-width: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cenario {
        margin-top: -7.9rem;
    }

    .sonic {
        width: 55px;
        bottom: 347px;
    }

    .motog {
        width: 50px;
        bottom: 347px;
    }

    .restart {
        margin-left: 14rem;
        width: 8rem;
        margin-top: 5rem;
    }

    .sonic-morto {
        width: 3rem;
        margin-top: 6rem;
    }

    .moeda {
        width: 1rem;
        bottom: 350px;
        margin-left: -11rem;
    }

    .voltar {
        width: 2rem;
    }

    @keyframes jump {

        0% {
            bottom: 350px;
        }

        35% {
            bottom: 420px;
        }

        50% {
            buttom: 420px;
        }

        65% {
            bottom: 420px;
        }

        100% {
            bottom: 350px;
        }

    }
}

@media screen and (max-width: 667px) {
    body {
        max-width: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cenario {
        margin-top: -6rem;
    }

    .sonic {
        width: 50px;
        bottom: 344px;
    }

    .motog {
        width: 43px;
        bottom: 344px;
    }

    .restart {
        margin-left: 12rem;
        width: 8rem;
        margin-top: 5rem;
    }

    .sonic-morto {
        width: 3rem;
        margin-top: 6rem;
    }

    .moeda {
        width: 1rem;
        bottom: 350px;
        margin-left: -11rem;
    }

    .voltar {
        width: 2rem;
    }
}