* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 20vh;
}

.game-board img{
    position: absolute;
}

.restart{
    position: absolute;
    top: 40vh;
    width: 10px;
    margin-left: 30vh;
}
.cenario{
    position: absolute;
    width: 74%;
}
.cenario2{
    position: absolute;
    width: 72%;
    margin-left: 113.2vh;
}

.win {
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
}

.final {
    width: 10rem;
    margin-top: 10rem;
    animation: animation 3s infinite linear;
}

.sonic {
    width: 10rem;
    margin-top: 15rem;
    margin-left: 10rem;
}

.voltar{
    width: 80px;
}

@keyframes animation {
    0%{
        margin-top: 10rem;
    }

    50%{
        margin-top: 11rem;
    }

    100%{
        margin-top: 10rem;
    }
}